{%- if product.vendor -%}
  {%- capture vendor_link -%}
    {{ product.vendor | link_to_vendor }}
  {%- endcapture -%}

  <div
    data-subsection
    data-section-id="{{ section.id }}"
    data-section-type="vendor-products"
    data-product-id="{{ product.id }}"
    data-vendor="{{ product.vendor }}">
    <div class="index-section index-section--sub-product">
      <div class="page-width">
        <header class="section-header">
          <div class="h3 section-header__title">{{ 'products.general.more_from_html' | t: link: vendor_link }}</div>
        </header>
      </div>

      <div class="page-width page-width--flush-small collection-products-promo image-{{ section.settings.image_pos }}">
        <div id="VendorProducts-{{ section.id }}"
          class="new-grid product-grid scrollable-grid--small" data-view="{% if section.settings.promo_img != blank %}large{% else%}small{% endif %}">
          {% comment %}
            This content is visually hidden and replaced when recommended
            products show up
          {% endcomment %}
          <div class="visually-invisible">
            {%- render 'product-grid-item', product: product, no_actions: true -%}
          </div>
        </div>

        {% if section.settings.promo_img != blank %}
          <div class="promo-banner">
            {%- assign img_url = section.settings.promo_img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img
              class="image-fit lazyload"
              src="{{ section.settings.promo_img | img_url: '300x' }}"
              data-src="{{ img_url }}"
              data-widths="[720, 900, 1080]"
              data-aspectratio="{{ section.settings.promo_img.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ section.settings.promo_img.alt | escape }}">
            <noscript>
              <img
                class="image-fit lazyloaded"
                src="{{ block.settings.image | img_url: '1800x' }}"
                alt="{{ block.settings.image.alt }}">
            </noscript>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.more-products-vendor.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "promo_img",
      "label": "Promotion Banner"
    },
    {
      "type": "select",
      "id": "image_pos",
      "label": "Image position",
      "default": "right",
      "options": [
        {
          "value": "left",
          "label": "Image Left"
        },
        {
          "value": "right",
          "label": "Image Right"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "t:sections.more-products-vendor.settings.content"
    }
  ]
}
{% endschema %}
